.container {
    padding: 2rem 2vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: all 0.2s;
}

.video-card:hover {
    scale: 1.02;
}

video {
    border-radius: 4px;
}

.video-footer {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1rem 1rem;
}