@use '@angular/material' as mat;
$theme-accent: mat.define-palette(mat.$deep-purple-palette);

.menu {
    display: flex;
    justify-content: space-between;
    background-color: mat.get-color-from-palette($theme-accent, default);
    span {
        color: white;
    }
    .separator {
        padding: 0 1rem;
    }
    .option:hover {
        scale: 1.02;
        cursor: pointer;
    }
}