.login-containter {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.app-name {
    color: white;
}

.login-button {
    text-align: center;
}